
R-Markdown-Git-Hub-Page.Rproj
.Rproj.user/E6DF7B83/pcs/files-pane.pper
.Rproj.user/E6DF7B83/pcs/source-pane.pper
.Rproj.user/E6DF7B83/pcs/windowlayoutstate.pper
.Rproj.user/E6DF7B83/pcs/workbench-pane.pper
.Rproj.user/E6DF7B83/sources/prop/50DED236
.Rproj.user/E6DF7B83/sources/prop/CE41CEDF
.Rproj.user/E6DF7B83/sources/prop/INDEX
.Rproj.user/E6DF7B83/sources/session-83dc154f/0B948D36
.Rproj.user/E6DF7B83/sources/session-83dc154f/0B948D36-contents
.Rproj.user/E6DF7B83/sources/session-83dc154f/9F6651CD
.Rproj.user/E6DF7B83/sources/session-83dc154f/9F6651CD-contents
.Rproj.user/E6DF7B83/sources/session-83dc154f/lock_file
.Rproj.user/shared/notebooks/2B1E94F5-video_games_rmd/1/E6DF7B8383dc154f/chunks.json
.Rproj.user/shared/notebooks/BA37B6C6-index/1/s/chunks.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.DS_Store
